<section id="laptop">
    <h1 class="light-text">Switch Between</h1>
    <h1 class="dark-text">Light & Dark Mode</h1>
    <div class="dark"></div>
    <div class="slider"><i class="fa-solid fa-left-right"></i></div>
    <img src="/images/laptop.svg" alt="">
</section>