@using Infrastructure.Models.HomeModels
@model NewsletterModel
<section id="newsletter">
    <div class="container">
        <div class="title-box">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/squiggly-arrows.svg" alt="">
        </div>
        <form method="post" asp-controller="Home" asp-action="Subscribe" novalidate>
            <div class="sign-up">
                <h5>Sign up for <br>Newsletters</h5>
                    <div class="content">
                        <div class="content-box">
                            <input asp-for="DailyNewsLetter">
                            <label asp-for="DailyNewsLetter"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="AdvertisingUpdates">
                            <label asp-for="AdvertisingUpdates"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="WeekInReview">
                            <label asp-for="WeekInReview"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="EventUpdates">
                            <label asp-for="EventUpdates"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="StartupsWeekly">
                            <label asp-for="StartupsWeekly"></label>
                        </div>
                        <div class="content-box">
                            <input asp-for="Podcasts">
                            <label asp-for="Podcasts"></label>
                        </div>

                    </div>
            </div>
                <span asp-validation-for="Email"></span>
            <div class="signup-box">
                <div class="mail-input">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email">
                </div>
                <button class="btn-theme" type="submit" asp-fragment="newsletter">Subscribe*</button>
            </div>
            <p>*Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy</a>.</p>
        </form>
    </div>
</section>
<partial name="~/Views/Sections/GeneralSections/_ValidationScriptPartial.cshtml" />