<section id="newsletter">
    <div class="container">
        <div class="title-box">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="/images/squiggly-arrows.svg" alt="">
        </div>
        <div class="sign-up">
            <h5>Sign up for <br>Newsletters</h5>
            <div class="content">
                <div class="content-box">
                    <input type="checkbox" id="Newsletter">
                    <label for="Newsletter">Daily newsletter</label>
                </div>
                <div class="content-box">
                    <input type="checkbox" id="Advertising">
                    <label for="Advertising">Advertising Updates</label>
                </div>
                <div class="content-box">
                    <input type="checkbox" id="WeekReview">
                    <label for="WeekReview">Week in Review</label>
                </div>
                <div class="content-box">
                    <input type="checkbox" id="EventUpdates">
                    <label for="EventUpdates">Event Updates</label>
                </div>
                <div class="content-box">
                    <input type="checkbox" id="Startups">
                    <label for="Startups">Startups Weekly</label>
                </div>
                <div class="content-box">
                    <input type="checkbox" id="Podcast">
                    <label for="Podcast">Podcast</label>
                </div>

            </div>
        </div>
        <div class="signup-box">
            <div class="mail-input">
                <i class="fa-regular fa-envelope"></i>
                <input type="text" placeholder="Your Email">
            </div>
            <a class="btn-theme" href="">Subscribe*</a>
        </div>
        <p>*Yes, I agree to the <a href="">terms</a> and <a href="">privacy policy</a>.</p>
    </div>
</section>
<partial name="~/Views/Sections/GeneralSections/_ValidationScriptPartial.cshtml" />