<section id="create-account">
    <div class="container">
        <h1>Create Account</h1>
        <p>Already have an account? <a href="#">Sign in here</a></p>
        <form action="">
            <div class="create-form-name">
                <div>
                    <label for="create-form-first-name">First name</label>
                    <input class="input-box" type="text" id="create-form-first-name" placeholder="Enter your first name">
                </div>
                <div>
                    <label for="create-form-last-name">Last name</label>
                    <input class="input-box" type="text" id="create-form-last-name" placeholder="Enter your last name">
                </div>
            </div>
            <div class="create-form-box">
                <label for="create-form-email">Email address</label>
                <input class="input-box" type="text" id="create-form-email" placeholder="Enter your email address">
            </div>
            <div class="create-form-box">
                <label for="create-form-password">Password</label>
                <input class="input-box" type="text" id="create-form-password" placeholder="********">
            </div>
            <div class="create-form-box">
                <label for="create-form-confirm-password">Confirm password</label>
                <input class="input-box" type="text" id="create-form-confirm-password" placeholder="********">
            </div>
            <input type="checkbox" id="create-form-terms&conditions">
            <label class="input-checkbox" for="create-form-terms&conditions">I agree to the <a href="#">Terms</a>& <a href="#">Conditions</a></label>
            <a class="btn-theme-s" href="#">Sign up</a>
        </form>

    </div>
</section>